@media only screen and (max-width: 1320px) {
    
    /*  SECTION PRODUCTS  */

    #sect__products .products {
        flex-direction: column;
    }

    #sect__products .product:nth-child(1) {
        margin-right: 0;
    }

    #sect__products .product:nth-child(2) {
        margin-top: 1rem;
    }


}






@media only screen and (max-width: 1080px) {
    #forms #card {
        display: none;
    }

    #forms #container {
    }

    #forms #card__two {
        width: 100%;
    }
}


@media only screen and (max-width: 940px) {

    /* SECTION SERVICES */

    /* INFO COMPANY */

    #company__info {
        height: 26rem;
        flex-direction: column;
    }

    #company__info .info {
        margin-bottom: 1.2rem;
    }


    /*  SECTION DRIVERS  */
/*
    #sect__drivers .drivers {
    }

    #sect__drivers::before {
        clip-path: circle(35% at left 90%);
    }

    #sect__drivers .drivers .driver {
    }

    #sect__drivers .driver .bg {
    }

    #sect__drivers .drivers .driver:hover .bg {
    }
    */
}



@media only screen and (max-width: 900px) {

    header {
        padding: .5rem 1.5rem;
    }

    header .card {
        display: block;
    }

    header .nav__bar {
        display: none;
    }

    header .box__login {
        display: none;
    }

    #drop__down__menu__two {
        display: block;
    }

    header #grip-box-two {
        display: flex;
    }

    header .box__logo {
        transform: scale(.9);
    }

    /* FIRST NAV */


    #sect__banner #first__nav {
        padding: 0 2rem;
    }

    #sect__banner #first__nav .menu h2 {
        display: none;
    }


    /* FOOTER */

    #footer {
        padding: 2rem 1.5rem 1rem;
    }


    /*---  DATA SECTION  ---*/


    #sect__data {
        flex-direction: column;
    }
}


@media only screen and (max-width:790px) {

    /*  SECTION PRODUCTS  */

    #sect__products {
        flex-direction: column;
        pointer-events: none;
    }

    #sect__products .product .download,
    #sect__products .product .arrow {
        display: none;
    }

    #sect__products .products {
        width: 100%;
    }

    #sect__products .product {
        width: 100%;
    }

    #sect__products .product .sub {
        position: absolute;
        top: 90%;
        left: 25%;
        color: rgb(44, 44, 44);
    }

    /*---  REGISTER SECTION ---*/


    #sect__register {
        height: 10rem;
        flex-direction: column;
    }
}


@media only screen and (max-width: 600px) {

    /*  SECTION DRIVERS  */

    #sect__drivers {
        pointer-events: none;
    }

    #sect__drivers .drivers .driver {
        width: 100%;
    }

    #sect__drivers .driver .bg {
        left: 0px;
        transform: scale(1);
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: .7em;
    }

    #sect__banner .bg__banner .forest {
        width: 100%;
    }
}

@media only screen and (max-width: 460px) {

    #nav__last #sect__networks i {
        display: none;
    }

    #nav__last #sect__networks {
        justify-content: center;
    }

    #nav__last #sect__networks h5 {
        display: block;
    }


    #drop__down__menu {
        left: -110%;
        width: 100%;
    }
}


@media only screen and (max-width: 400px) {

    #forms #container {
        width: 100%;
    }

    #card__two {
        padding: 50px 20px;
    }

    #forms .box__register h2 {
        font-size: .9em;
    }

    #card__two #line__splice {
        height: 3px;
        width: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        position: absolute;
        bottom: -15px;
        left: 5px;
        transition: transform 300ms;
    }
    
}

@media only screen and (max-width: 353px) {

    #forms .box__check h5 {
        margin-bottom: 10px;
    }
}